<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.joelj.jenkins.eztemplates.TemplateImplementationProperty plugin="ez-templates@1.1.2">
      <templateJobName>a</templateJobName>
      <syncMatrixAxis>false</syncMatrixAxis>
      <syncDescription>false</syncDescription>
      <syncBuildTriggers>false</syncBuildTriggers>
      <syncDisabled>false</syncDisabled>
      <syncSecurity>false</syncSecurity>
      <syncScm>true</syncScm>
      <syncOwnership>false</syncOwnership>
      <syncAssignedLabel>true</syncAssignedLabel>
    </com.joelj.jenkins.eztemplates.TemplateImplementationProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>